modules = ["web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Webserver"

[[workflows.workflow]]
name = "Webserver"
author = 41192129
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000 --bind 0.0.0.0"
